# Python

__pycache__/
*.pyc 
*.pyo
*.pyd

# Environments 

.env 
.venv
env/
venv/
env.bak/
venv.bak/



# Logs

*.log  

# GIT
.git/
.gitignore

# Frontend 
Frontend/


# IDE and editor files 
.idea/
.vscode/

# Docs
Procfile
docker-compose.yml
dockerfile