.analyze-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}

.analyze-card {
    border: 1px solid hsl(222 30% 20%);
    border-radius: 15px;
    padding: 20px 40px;
    width: 500px;

}

.analyze-input {
    height: 220px;
    resize: none;
    border: 1px solid hsl(222 30% 20%)
}


.analyze-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analyze-btn {
    padding: 0px 30px;
}

.analyze-sparkles {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}